<!-- about section -->

 <section class="about_section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <img src="{{ about.imagen.url }}" alt="">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="detail-box scroll">
                        <div class="heading_container">
                            <hr>
                            <h2>
                                {{ about.titulo }}
                            </h2>
                        </div>
                        <p>
                            {{ about.descripcion }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- end about section -->