<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-2 col-md-10 offset-md-1">
                <div class="heading_container">
                    <hr>
                    <h2>
                        {{ contact.titulo }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="layout_padding2-top">
            <div class="row">
                <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input name="nombre" type="text" placeholder="Full Name"/>
                                </div>
                                <div>
                                    <input name="email" type="email" placeholder="Email"/>
                                </div>
                                <div>
                                    <input name="numero" type="text" placeholder="Phone Number"/>
                                </div>
                                <div>
                                    <input name="mensaje" type="text" class="message_input" placeholder="Message"/>
                                </div>
                                <div>
                                    <input type="submit" value="Send" class="boton btn">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 px-0">
                    <div class="map_container">
                        <div class="map-responsive" style="overflow-x:auto">
                            {{ contact.mapa | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->
